<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- database para AWS -->
  <database>
    <provider name="MySql"/>
    <dataSource name="carrega_pedidos" connectionString="server=nfe4web.ciuc2boc4f2r.sa-east-1.rds.amazonaws.com; database=carrega_pedidos; User ID=lucasmoraes; password=123mudar;default command timeout=220" />
  </database>
  
  <!-- database para godaddy 
  <database>
    <provider name="MySql"/>
    <dataSource name="fisconet4" connectionString="server=208.109.236.57; database=fisconet5_homologacao; User ID=dygos; password=199715" />
  </database>
-->
  <!-- database para locaweb
  <database>
    <provider name="MySql"/>
    <dataSource name="megaideas4" connectionString="server=187.45.196.180; database=megaideas4; User ID=megaideas4; password=ro21314155" />
  </database>
 -->
  <!-- database para novapack 
  <database>
    <provider name="MySql"/>
    <dataSource name="megaideas4" connectionString="server=189.79.41.234; database=fisconet5_producao; User ID=aleph; password=aleph" />
  </database>
  -->
  <sqlMaps>
    
     <sqlMap resource="RetornoItau_Atualizado/IBatis/maps/Rotina.xml" />
     

  </sqlMaps>

</sqlMapConfig>