<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

 
  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>
  
  <providers resource="providers.config"/>
  
	<!-- 
	<database>
		<provider name="OleDb2.0"/>
		<dataSource name="Blogs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=../../../Files/Blogs.mdb"/>
	</database>
 -->

  <database>
    <provider name="MySql"/>
    <dataSource name="megaideas_2" connectionString="server=localhost; database=megaideas_2; User ID=root; password=root"/>
  </database>
  
	<sqlMaps>
			<sqlMap resource="maps/Emitente.xml" />
      <sqlMap resource="maps/Destinatario.xml" />
      <sqlMap resource="maps/Nota.xml" /> 
      <sqlMap resource="maps/InformacoesParaNotificacao.xml" />
	</sqlMaps>

</sqlMapConfig>