<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- database para AWS -->
  <database>
    <provider name="MySql"/>
    <dataSource name="nfecommerce_prod" connectionString="server=nfe4web.ciuc2boc4f2r.sa-east-1.rds.amazonaws.com; database=fisconet5_producao; User ID=dygos; password=19971555" />
  </database>

  <sqlMaps>
    <sqlMap resource="maps/nota.xml" />    
    <sqlMap resource="maps/empresa.xml" />
    <sqlMap resource="maps/notasProc.xml" />
    <sqlMap resource="maps/configuracao.xml" />
  </sqlMaps>

</sqlMapConfig>