<?xml version="1.0"?>
<configuration>
    <system.web>
      WebClient myWebClient = new WebClient()
      myWebClient.Headers.Add("Accept", "application/json")
      myWebClient.Headers.Add("Content-Type", "application/json")
      myWebClient.Headers.Add("X-VTEX-API-AppToken", "[aqui vai o AppToken de acesso]")
      myWebClient.Headers.Add("X-VTEX-API-AppKey", "[vtexappkey-[aqui vai a chave de acesso]")

    </system.web>
</configuration>
