<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FN4CancelamentoCtl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FN4CancelamentoCtl.Properties.Settings>
            <setting name="FN4CancelamentoCtl_NFe_Cancelamento_NfeCancelamento2" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/nfecancelamento2.asmx</value>
            </setting>
        </FN4CancelamentoCtl.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
