<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- 
	<database>
		<provider name="OleDb2.0"/>
		<dataSource name="Blogs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=../../../Files/Blogs.mdb"/>
	</database>
 -->

  <database>
    <provider name="MySql"/>
    <dataSource name="fisconet4" connectionString="server=localhost; database=fisconet5_homologacao; User ID=root; password=root"/>
  </database>

  <sqlMaps>
    <sqlMap resource="maps/nota.xml" />
    <sqlMap resource="maps/usuario.xml" />
    <sqlMap resource="maps/historico.xml" />
    <sqlMap resource="maps/atualizacao.xml" />
    <sqlMap resource="maps/empresa.xml" />
    <sqlMap resource="maps/webservice.xml" />
    <sqlMap resource="maps/configuracao.xml" />
    <sqlMap resource="maps/serie.xml" />
    <sqlMap resource="maps/justificativa.xml" />
  </sqlMaps>

</sqlMapConfig>