<?xml version="1.0"?>
<configuration>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Fn4IntegradorNFeCommerceCtrl.My.MySettings>
            <setting name="Fn4IntegradorNFeCommerceCtrl_nfecommerce_homolog_NFeCommerce" serializeAs="String">
                <value>http://208.109.236.57:8087/NFeCommerce.asmx</value>
            </setting>
            <setting name="Fn4IntegradorNFeCommerceCtrl_nfecommerce_prod_NFeCommerce" serializeAs="String">
                <value>http://208.109.236.57:8427/NFeCommerce.asmx</value>
            </setting>
        </Fn4IntegradorNFeCommerceCtrl.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
